<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.appathon.eduloantracker">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/dollarshield"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Views.LoginActivity" />
        <activity android:name=".Views.LandingActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Views.LoanDetailActivity" />
        <activity android:name=".Views.AnalyseLoanActivity" />
        <activity android:name=".Views.ReduceLoanTenureActivity"></activity>
    </application>

</manifest>